img.pimage {
    width: 150px;
}

a.pa {
    display: inline-block;
    height: 155px;
}

.row .products .p {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.spi {
    width: 100%;
}

.gallery {
    margin-left: -35px;
}

ul.gallery li {
    margin: 10px;
    display: inline-block;
    list-style: none;
}

.np {
    justify-content: center;
    align-items: center;
}

img.cpi {
    width: 100px;
}

table.align-middle td {
    vertical-align: middle !important;
}

table.align-middle th {
    text-align: center;
}

tr.center-text td {
    text-align: center;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

